@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
.dark {
  background-color: #1a202c;
  color: #ffffff;
  color: black;
}
